<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="{% url 'home' %}" class="logo"> <span class="text-white"> HMS </span> </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>

    {% if user.is_staff %}
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'home' %}">
                                    <span class="sub-item">Home</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Menu</h4>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#base">
                        <i class="fa-solid fa-hospital"></i>
                        <p>Hospital</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'hospital:hospital' %}">
                                    <span class="sub-item">View Hospitals</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'hospital:hospital-transfer' %}">
                                    <span class="sub-item">Patient Transfer</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-th-list"></i>
                        <p>Patients</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'hospital:add-patient' %}">
                                    <span class="sub-item">Add Patients</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'hospital:admission-discharge' %}">
                                    <span class="sub-item">Admission and Discharge</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'hospital:add-medical-record' %}">
                                    <span class="sub-item">Add Medical Record</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#tables">
                        <i class="fas fa-table"></i>
                        <p>Staff Management</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'staff:time-in' %}">
                                    <span class="sub-item">Time In</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'staff:time-out' %}">
                                    <span class="sub-item">Time out</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'staff:attendance-history' %}">
                                    <span class="sub-item">Attendance History</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'staff:shift-schedule' %}">
                                    <span class="sub-item">Shift Schedule</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'staff:payroll-history' %}">
                                    <span class="sub-item">Payroll History</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#inventory">
                        <i class="fa-solid fa-tablets"></i>
                        <p>Inventory</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="inventory">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'inventory:inventory_home' %}">
                                    <span class="sub-item">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'inventory:category_list' %}">
                                    <span class="sub-item">Categories</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'inventory:supplier_list' %}">
                                    <span class="sub-item">Suppliers</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'inventory:item_list' %}">
                                    <span class="sub-item">Items</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% else %}

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Profile</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'home' %}">
                                    <span class="sub-item">View Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% endif %}
</div>
