{% extends "layout/base.html" %}

{% block heading %}Attendance History{% endblock heading %}
{% block mute_heading %}View your attendance history{% endblock mute_heading %}

{% block heading_action %}{% endblock heading_action %}


{% block content %}
<div class="row">
    <div class="col-12">

        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time in</th>
                    <th scope="col">Time out</th>
                    <th scope="col">Late</th>
                </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.date }}</td>
                    <td>{{ record.time_in }}</td>
                    <td>{{ record.time_out }}</td>
                    <td>{{ record.is_late }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!-- end col -->
</div>

{% endblock content %}