{% extends "layout/base.html" %}

{% block heading %}Hospitals{% endblock heading %}
{% block mute_heading %}View list of Hospitals{% endblock mute_heading %}

{% block heading_action %}{% endblock heading_action %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">List of Patients in {{ hospital }}</div>
            </div>
            <div class="card-body">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Birthdate</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                            <td>{{ patient.gender }}</td>
                            <td>{{ patient.birthdate }}</td>
                            <td>{{ patient.status }}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'hospital:patient-detail' patient_id=patient.id %}">View</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}