{% extends "layout/base.html" %}

{% block heading %}Patient Profile{% endblock heading %}
{% block mute_heading %}View a patient Profile{% endblock mute_heading %}

{% block heading_action %}{% endblock heading_action %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
{% endblock css %}


{% block content %}
{% comment %} <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Profile Information on patient</div>
            </div>
            <div class="card-body">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Birthdate</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                            <td>{{ patient.gender }}</td>
                            <td>{{ patient.birthdate }}</td>
                            <td>{{ patient.status }}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'hospital:patient-detail' patient_id=patient.id %}">View</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> {% endcomment %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="text-center border-end">
                                <img src="https://www.freepik.com/premium-vector/user-profile-icon-flat-style-member-avatar-vector-illustration-isolated-background-human-permission-sign-business-concept_44276367.htm" class="img-fluid avatar-xxl rounded-circle" alt="">
                                <h4 class="text-primary font-size-20 mt-3 mb-2">{{ patient.first_name }} {{ patient.last_name }}</h4>
                            </div>
                        </div><!-- end col -->
                        <div class="col-md-9">
                            <div class="ms-3">
                                <div>
                                    <h4 class="card-title mb-2">Information</h4>
                                </div>
                                <div class="row my-4">
                                    <div class="col-md-12">
                                        <div>
                                            <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>Gender {{ patient.gender }}
                                            </p>
                                            <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>Birthdate {{ patient.birthdate }}
                                            </p>
                                            <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>Status {{ patient.status }}
                                            </p>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end card body -->
            </div><!-- end card -->

            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Diagnosis</th>
                        <th scope="col">Treatment</th>
                        <th scope="col">Medication</th>
                        <th scope="col">Date of Visit</th>
                    </tr>
                </thead>
                <tbody>
                {% for record in medical_records %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ record.diagnosis }}</td>
                        <td>{{ record.treatment }}</td>
                        <td>{{ record.medications }}</td>
                        <td>{{ record.date_of_visit }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- end col -->
    </div>
</div>


{% endblock content %}